{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_invitation/navbar_action

    A template printing a welcome note.

    Context variables required for this template:
    * text - String

    Example context (json):
    {
        "url": "https://example.com/local/invitation/invite.php?courseid=2",
        "text": "Invitation",
        "count": 5
    }
}}

<div class="local-invitation-nav-action align-content-center">
    <a class="btn btn-{{#count}}success{{/count}}{{^count}}light{{/count}} btn-sm position-relative" id="invite-action-{{uniqid}}" href="{{{url}}}" title="{{text}}">
        <i class="fa fa-envelope-o fa-fw fa-lg"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
            {{count}}
        </span>
    </a>
</div>
